@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

body {
  background-color: #f5f5f5;
  font-family: 'Lato', sans-serif;
}

.pokemon-font {
  font-family: 'Pokemon Solid', sans-serif;
  color: rgb(212, 189, 18);
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.navbar-background {
  background-color: #E91D26;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card {
  /* background-color: #fff; */
  background: rgba(121, 123, 122, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(121, 123, 122, 0.3);
}

.loader {
  height: 60px;
  aspect-ratio: 1;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}
.loader::after {
  background:
    radial-gradient(at 75% 15%,#fffb,#0000 35%),
    radial-gradient(at 80% 40%,#0000,#0008),
    radial-gradient(circle  5px,#fff 94%,#0000),
    radial-gradient(circle 10px,#000 94%,#0000),
    linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
    linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
    #000;
  background-repeat: no-repeat;
  animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
}
.loader::before {
  background:#ddd;
  filter: blur(8px);
  transform: scaleY(0.4) translate(-13px, 0px);
}
@keyframes l20 { 
 30%,70% {transform:rotate(0deg)}
 49.99%  {transform:rotate(0.2deg)}
 50%     {transform:rotate(-0.2deg)}
}

#loader-screen {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-pokemon-grass {
  filter: drop-shadow(0 0 2em  rgba(155, 204, 80, 1));
}
.type-pokemon-poison {
  filter: drop-shadow(0 0 2em  rgba(191, 143, 202, 1));
}

.type-pokemon-fire {
  filter: drop-shadow(0 0 2em  rgba(253, 125, 36, 1));
}

.type-pokemon-flying {
  filter: drop-shadow(0 0 2em  rgba(155, 204, 204, 1));
}

.type-pokemon-water {
  filter: drop-shadow(0 0 2em  rgba(69, 146, 196, 1));
}

.type-pokemon-bug {
  filter: drop-shadow(0 0 2em  rgba(168, 184, 32, 1));
}

.type-pokemon-normal {
  filter: drop-shadow(0 0 2em  rgba(168, 168, 120, 1));
}

.type-pokemon-electric {
  filter: drop-shadow(0 0 2em  rgba(251, 206, 53, 1));
}

.type-pokemon-ground {
  filter: drop-shadow(0 0 2em  rgba(219, 181, 77, 1));
}

.type-pokemon-fairy {
  filter: drop-shadow(0 0 2em  rgba(214, 133, 173, 1));
}

.type-pokemon-fighting {
  filter: drop-shadow(0 0 2em  rgba(213, 103, 97, 1));
}

.type-pokemon-psychic {
  filter: drop-shadow(0 0 2em  rgba(249, 85, 135, 1));
}

.type-pokemon-rock {
  filter: drop-shadow(0 0 2em  rgba(182, 161, 54, 1));
}

.type-pokemon-steel {
  filter: drop-shadow(0 0 2em  rgba(183, 183, 206, 1));
}

.type-pokemon-ice {
  filter: drop-shadow(0 0 2em  rgba(126, 206, 206, 1));
}

.type-pokemon-ghost {
  filter: drop-shadow(0 0 2em  rgba(123, 105, 188, 1));
}

.type-pokemon-dragon {
  filter: drop-shadow(0 0 2em  rgba(119, 108, 192, 1));
}

.type-pokemon-dark {
  filter: drop-shadow(0 0 2em  rgba(112, 88, 72, 1));
}

.type-pokemon-unknown {
  filter: drop-shadow(0 0 2em  rgba(0, 0, 0, 1));
}

.type-pokemon-shadow {
  filter: drop-shadow(0 0 2em  rgba(0, 0, 0, 1));
}